        <div class="col-md-10 col-md-offset-1" ng-controller ="DeviceController as deviceClt">

            <div class="panel panel-default panel-table" ng-init="deviceClt.deviceList()">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title">Device Management</h3>
                  </div>
                  <div class="col col-xs-6 text-right">
                    <button type="button" class="btn btn-sm btn-primary btn-create" ui-sref="deviceAdd">Create New</button>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-responsive table-striped table-bordered table-list">
                  <thead>
                    <tr>
                        <th class="hidden-xs">ID</th>
                        <th>Name</th>
                        <th>Model No.</th>
						<th><em class="fa fa-cog"></em></th>
                    </tr> 
                  </thead>
                  <tbody>
                          <tr ng-repeat = "device in deviceClt.results">
                            <td align="center" class="hidden-xs">1</td>
                            <td>{{device.name}}</td>
                            <td>{{device.description}}</td>
							 <td>
                              <a class="btn btn-default" ui-sref="deviceUpdate({id:device.id})"><em class="fa fa-pencil"></em></a>
                              <a class="btn btn-danger" ng-click="deviceDelelte(device.id)"><em class="fa fa-trash"></em></a>
                            </td>
                          </tr>
                        </tbody>
                </table>
            
              </div>
             
            </div>
