            <div class="panel panel-default panel-table" ng-controller ="DeviceController as deviceClt" ng-init="deviceClt.deviceDetails()">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title">Device Name</h3>
                  </div>
                  <div class="col col-xs-6 text-right">
                    <button type="button" class="btn btn-sm btn-primary btn-create">Back to List</button>
                  </div>
                </div>
              </div>
              <div class="panel-body">
               
  <div class="container">
    <p>Model Number</p>
    <p>Description</p>
  </div>
           
              </div>
             
            </div>