 <div class="panel panel-default panel-table" ng-controller ="DeviceController as deviceClt">
  <div class="panel-heading">
    <div class="row">
      <div class="col col-xs-6">
        <h3 class="panel-title">Panel Heading</h3>
      </div>
      <div class="col col-xs-6 text-right">
      <!--    <button type="button" class="btn btn-sm btn-primary btn-create">Create New</button>-->
      </div>
    </div>
  </div>
  <div class="panel-body">
  <h2>Update Device</h2>
    <div class="col col-xs-6">
    <form ng-submit="deviceClt.deviceAdd()">
      <br/><br/>
        <input type="text" ng-model="deviceClt.formData.deviceName" placeholder="Device Name" required />
        <br/><br/>
        <input type="number" ng-model="deviceClt.formData.modelNumber" placeholder="Model Number" required />
        <br/><br/>
        <textarea rows="4" cols="50" ng-model="deviceClt.formData.description" placeholder="Device description"></textarea>
        <br/> <br/>
    <div class="col col-xs-2" style="margin:0px; padding:0px;">
      <button type="submit" class="btn btn-sm btn-primary btn-create">Submit</button>
    </div>      
    <div class="col col-xs-2" style="margin:0px; padding:0px;">
      <button type="button" class="btn btn-sm btn-primary btn-create"  ui-sref="home">Cancel</button>
    </div>
    </form>
    </div>        
    </div>         
  </div>
